html {
    padding: 50px;
}
  
body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
  
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}